.container {
    display: flex;
    background: #50e3c2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.todos {
    display: flex;
    background: #f7f7f7;
    width: 30vw;
    height: 70vh;
    flex-direction: column;
    margin: 20px;
    padding: 50px;
}

h1 {
	font-family: Lato-Light, sans-serif;
	font-size: 4vw;
    font-weight: lighter;
	color: #bbbbbb;
    align-self: center;
    margin: 10px;
    padding: 10px;
}

.input_area {
    display: flex;
    flex-direction: row;
    height: 40px;
}

button {
	font-family: Lato-Regular, sans-serif;
	font-size: 2vw;
    background: #df69e8;
	color: #ffffff;
    width: 15%;
}

.input_box {
    width: 80%;
}

img {
    width: 35px;
    align-self: flex-end;
}

.todo_item {
	font-family: Lato-Regular, sans-serif;
	font-size: 2vw;
	line-height: 2.2;
	color: #bbbbbb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 5px;
}
