.container {
    display: flex;
    background: #50e3c2;
    justify-content: center;
    align-items: center;
    width: 1350px;
    height: 800px;
}

.todos {
    display: flex;
    padding: 20px;
    background: #f7f7f7;
    width: 500px;
    height: 600px;
    flex-direction: column;
}

h1 {
	font-family: Lato-Light, sans-serif;
	font-size: 64px;
	color: #bbbbbb;
    align-self: center;
    margin: 10px;
    padding: 10px;
}

.input_area {
    display: flex;
    flex-direction: row;
    height: 40px;
}

button {
	font-family: Lato-Regular, sans-serif;
	font-size: 26px;
    background: #df69e8;
	color: #ffffff;
    width: 15%;
}

.input_box {
    width: 80%;
}

img {
    width: 35px;
}

.todo_item {
	font-family: Lato-Regular, sans-serif;
	font-size: 26px;
	line-height: 2.2;
	color: #bbbbbb;
    display: flex;
    flex-direction: row;
    /*flex-basis: 50%;*/
    justify-content: space-between;
    margin: 15px;
    height: 40px;

}
