h1 {
    color: blue;
}

h2 {
    color: rgb(230, 183, 53);
}

ul ul li {
    color:black;
    list-style: disc;
}

ul {
    color: blue;
    list-style: square;
}

ol {
    color:black;
}

ul ul li:first-child {
    color:red;
}
