* {
    margin: 0px
    padding: 0px;
}

p {
    background: rgb(14,145,161);
    padding: 20px 20px 110px 17px;
    margin: 2px;
    margin-bottom: 15px;

    border-style: solid;
    border-color: rgb(125, 206, 148);
    border-width: 5px;
    box-sizing:border-box;

    width: 350px;
    height: 100px;

    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    align: center;
    color: rgb(0, 85, 102);
}
