.submittion, .headline {
    display: block;
    font-weight: 500;
    font-family: Arial; 
}

.headline {
    font-size: 20px;
    color: blue;
    padding-bottom: 5px;
    text-decoration: none;
}

.submittion {
    color: black;
    font-size: 12px;
}

.counter {
    display: block;
    color: #c6c6ca;
    font-weight: 600;
}


article {
    padding-left: 60px;
    padding-top: 10px;
    position: relative;
    margin-left: 10px;
    
}

.span, img, .counter {
    color: #c6c6ca;
    position: absolute;
}

.span {
    top: 45%;
    left: 0;
}

.counter {
    top: 45%;
    left: 19px;
    margin-left: 10px;
}

.upvote {
    top: 18%;
    left: 16px;
    margin-left: 10px;
}

.downvote {
    left: 16px;
    bottom: 5%;
    margin-left: 10px;
}

.modify, .remove {
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}

ul {
    display: flex;
    background: black;
    height: 30px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
}

li {
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
}

.url_div {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
    width: 350px;
    flex-direction: column;
    background: #cee3f8;
}

.blue_line {
    width: 370px;
    height: 4px;
    background: blue;
    margin: 10px;
}

.url_input, .title_input {
    width: 100%;
}

.submit_button {
    margin: 10px;
}

.titleof_page {
    margin: 10px;
    font-size: 20px;
}

.cover_div {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 30px;
}

.container {
    margin : 0;
    padding: 0;
}

.remove:hover {
    cursor: pointer;
}
