.container {
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    width: 100%;
}

.green {
    background: green;
    flex-grow: 1;
}

.yellow {
    background: yellow;
    flex-grow: 2;
}

.purple {
    background: purple;
    flex-grow: 1;
}
