.container {
    display: flex;
    height: 300px;
    width: 100%;
    background: gold;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;

}

.item {
    background: purple;
    height: 100px;
    width: 100px;
    list-style: none;
    margin-left: 5px;
    
}