body {
    display: flex;
    justify-content: center;
    background: grey;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

img {
    padding: 5px;
}

h1 {
    color: white;
}