* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    background: grey;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    background: #ede6e6;
}

img {
    height: 30vh;
    width: 30vw;
    padding: 15px;
}
